body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #520d7e;
  }

.navbar a{
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #520d7e;
}

.img-perfil {
    border-radius: 50%;
    box-shadow: 0 4px 6px #520d7e;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #520d7e;
    display: inline-block;
    padding-bottom: 5px;
}


section {
    margin-bottom: 30px;
}

.card {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px #520d7e;
}

.card-title {
    font-size: 1.2rem;
}

.card-subtitle {
    font-size: 0.95rem;
    color: #520d7e;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid white;
}

footer .social-icons a {
    margin: 0 10px;
    color: #520d7e;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

footer p {
    font-size: 0.9rem;
    color: #520d7e;
    margin-top: 10px;
}


/* */